@import "functions";

// ROW FOR DESKTOP DEFAULT: 12 columns
.row {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);

  gap: 1rem;
}

@include media($tablet) {
  :root {
    // REMOVE FOR DEVELOP //
  }

  // !!! IMPORTANT ROW FOR TABLET >> CHANGE IN VARIABLES

  .row {
    display: grid;
    grid-template-columns: repeat($columns-tablet, 1fr);
    gap: 1rem;
  }

  @for $i from 1 through $columns-tablet {
    .col-m-#{$i} {
      grid-column: span $i;
    }
  }
  .hide-tablet {
    display: none;
  }
}

@include media($phone) {
  :root {
    width: 100%;
    min-height: 100%;
  }

  /*  IMPORTANT TO PREVENT OVERSCROLLING */

  html {
    scroll-behavior: smooth;
    overflow: hidden;
  }

  body {
    /* to keep the scrolling HIDDEN */
    overflow: auto;
    margin: 0;
    height: 100%;
  }

  .row {
    display: grid;
    grid-template-columns: repeat($columns-phone, 1fr);
    gap: 1rem;
  }

  @for $i from 1 through $columns-phone {
    .col-lg-#{$i} {
      grid-column: span $i;
      width: 100%;
    }
  }

  /**
  * @desc new classes
  */

  .home__main {
    padding-bottom: 0px;
    padding-top: 20px;
  }

  .hide {
    display: block;
  }

  .hide-tablet {
    display: none;
  }
  .hide-phone {
    display: none;
  }
}
