@import "functions";

// ROW FOR DESKTOP DEFAULT: 12 columns
.row {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);

  gap: 1rem;
}

@include media($tablet) {
  :root {
    // REMOVE FOR DEVELOP //
  }

  // !!! IMPORTANT ROW FOR TABLET >> CHANGE IN VARIABLES

  .row {
    display: grid;
    grid-template-columns: repeat($columns-tablet, 1fr);
    gap: 1rem;
  }

  @for $i from 1 through $columns-tablet {
    .col-m-#{$i} {
      grid-column: span $i;
    }
  }
  .hide-tablet {
    display: none;
  }
}

@include media($phone) {
  :root {
    width: 100%;
    min-height: 100%;
  }
  .hide {
    display: contents;
  }

  /*  IMPORTANT TO PREVENT OVERSCROLLING */

  html {
    scroll-behavior: smooth;
    overflow: hidden;
  }

  body {
    /* to keep the scrolling HIDDEN */
    overflow: auto;
    margin: 0;
    height: 100%;
  }

  .row {
    display: grid;
    grid-template-columns: repeat($columns-phone, 1fr);
    gap: 1rem;
  }

  @for $i from 1 through $columns-phone {
    .col-lg-#{$i} {
      grid-column: span $i;
      width: 100%;
    }
  }

  /**
  * @desc new classes
  */
  .menu {
    // height: 55px;
    width: 100%;
    & ul {
      height: 0px;
      letter-spacing: 1px;
      height: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 1.4rem;

      display: flex;
      text-transform: uppercase;
      font-weight: 500;
      margin: auto;

      & li {
        margin-top: 10px; // important to avoid defects in menu
        list-style-type: none;
        margin-right: 0px;
        padding-right: 20px;
        padding-left: 20px;

        & a {
          transition: all 0.3s;
          color: $menu-font-color;
          text-decoration: none;

          &:hover {
            transition: all 0s;
            color: $menu-font-color-hover;
            // border-bottom: 3px solid $menu-underline;
          }
        }
      }
    }
  }

  /* Projects */

  #projects {
    width: 100%;
  }

  /* Project buttons */
  .slide__title__container {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }
  .slide__title {
    background-color: white;
    background-color: black;
    background-color: rgb(240, 89, 86);
    background: linear-gradient(
      25deg,
      rgba(235, 94, 40, 1) 26%,
      rgba(240, 130, 86, 1) 80%
    );

    clip-path: polygon(3% 0%, 100% 0, 100% 80%, 97% 100%, 0 100%, 0 20%);
    color: rgb(240, 89, 86);
    color: white;
    font-weight: $ultra-thin;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-decoration: underline;
    animation: AniBgTitle 7s ease infinite;
  }
  .slide__description {
    color: white;
    font-weight: 100;
    letter-spacing: 0.7px;
  }
  .slide__icons {
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  @-webkit-keyframes AniBgTitle {
    0% {
      background-position: 0% 76%;
    }
    50% {
      background-position: 100% 25%;
    }
    100% {
      background-position: 0% 76%;
    }
  }
  @-moz-keyframes AniBgTitle {
    0% {
      background-position: 0% 76%;
    }
    50% {
      background-position: 100% 25%;
    }
    100% {
      background-position: 0% 76%;
    }
  }
  @keyframes AniBgTitle {
    0% {
      background-position: 0% 76%;
    }
    50% {
      background-position: 100% 25%;
    }
    100% {
      background-position: 0% 76%;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;

    // & ul {
    //   margin-right: 0px;
    // }
  }

  .projects__navbar {
    height: 65px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    // padding: 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    text-align: center;
    padding-left: 0;
    & ul {
      padding-left: 15px;
      padding-right: 15px;
      & li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  // MODALS
  .modal__container {
    z-index: 10000;
    // margin-left: 10px;
    // margin-right: 60px;
    width: 85% !important;
    // max-height: 80vh !important;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    padding-bottom: 50px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  .img__schema {
    width: 85% !important;
  }

  .home__main {
    padding-bottom: 70px;
    padding-top: 70px;
    // height: 100vh;
  }

  .section__title {
    font-size: 15vw;
  }

  .hide-tablet {
    display: none;
  }
  .hide-phone {
    display: none;
  }
}
