@import "../variables/colors";

:root {
  font-weight: $thin;
}
#home {
  // background: $timberwolf;
  // background: linear-gradient(125deg, deeppink, coral);
  // background: linear-gradient(125deg, rgb(255, 80, 121), coral);
  background: $background-gradient-home;

  background-size: 800% 800%;

  -webkit-animation: LinerBgVariations 7s ease infinite;
  -moz-animation: LinerBgVariations 7s ease infinite;
  animation: LinerBgVariations 7s ease infinite;
  color: white;

  border: $pages-border;
}

@-webkit-keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@-moz-keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
.home__main {
  // height: 100%;
  // min-height: 100vh;
  // flex-wrap: wrap;
  // margin: 0;

  // & :after {
  //   content: "";
  //   display: table-cell;
  //   width: 100%;
  // }
  span {
    // background-color: red;

    h1 {
      color: $jet;
      // border-bottom: $jet 10px solid;
      text-decoration: underline;
    }
  }
}
h4 {
  font-weight: $normal;
  color: #575366;
}

.home__main__wrap {
  // filter: drop-shadow(2px 2px 6px #000000);
}
.home__main {
  // margin-left: 80px;
  padding: 40px;
  border: $pages-border2;
  margin: 20px;
}
.home__a {
  // clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  // background-color: $maize-crayola;
  // height: 100vh;
  // border-radius: 20px;
}

.full-col {
  // margin: 10px 0 10px 0;
  // padding: 10px;
  color: #32292f;
  background-color: #d1e3dd;
}
.half-col {
  // margin: 10px 0 10px 0;
  // padding: 10px;
  color: white;
  background-color: #5762d5;
}
.third-col {
  // margin: 10px 0 10px 0;
  // padding: 10px;
  color: white;
  background-color: #6e7dab;
}

.multi-row {
  & * {
    background-color: #6977b6;
  }
}
