#about {
  color: white;
  background: $background-gradient-about;

  background-size: 800% 800%;

  -webkit-animation: LinerBgVariations 7s ease infinite;
  -moz-animation: LinerBgVariations 7s ease infinite;
  animation: LinerBgVariations 7s ease infinite;

  border: $pages-border;
}

@-webkit-keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@-moz-keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@keyframes LinerBgVariations {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}

.profile__pic {
  border-radius: 50%;
  width: 200px;
}
.profile__text {
  margin-top: 20px;
  color: white;
  & h4 {
    color: white;
    margin-bottom: 10px;
  }
  & a {
    margin-right: 20px;
    margin-left: 5px;
    color: white;
  }
}
