.home__c {
  background-color: $timberwolf;
}
.project__thumb__container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.project__thumb {
  &-left,
  &-center,
  &-right {
    transition: all 0.5s;
    height: 250px;
    background-color: red;
    overflow: hidden;

    &:hover {
      margin-left: 0px;
      background-color: green;
      cursor: pointer;
      z-index: 9999;
      width: 150%;
    }
  }
  &-center {
    &:hover {
      margin-left: -75px;
    }
  }
  &-right {
    &:hover {
      margin-left: -150px;
    }
  }
}
