.home__c {
  background-color: $timberwolf;
}
.project__thumb__container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.project__thumb {
  &-left,
  &-center,
  &-right {
    transition: all 0.5s;
    // width: 100%;
    height: 250px;
    background-color: red;
    overflow: hidden;
    // &::before {
    // }
    &:hover {
      // transform: scaleX(1.5) perspective(10px);
      margin-left: 0px;
      // transform-origin: 50% 0%;
      background-color: green;
      cursor: pointer;
      z-index: 9999;
      // float: left;
      width: 150%;
    }
  }
  &-center {
    &:hover {
      margin-left: -75px;
    }
  }
  &-right {
    &:hover {
      margin-left: -150px;
    }
  }
}
