.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
}

#projects {
  background: linear-gradient(to right, #ff6347 0%, #ffd700 100%);
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  // overflow-x: scroll !important;

  background: linear-gradient(91deg, #ff6347, #ffd700);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  perspective: 1000px;
  border: $pages-border;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 76%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 76%;
  }
}
.projects__window {
  width: 100%;
  // padding: 30px;
  // overflow: auto;
  display: inline-block;
}

.projects__scroll {
  // margin: 4px, 4px;
  // padding: 4px;
  //   background-color: #08c708;
  // width: 300px;
  // white-space: nowrap;
}

.projects__navbar {
  position: absolute;
  z-index: 1;

  margin-top: 20px;

  height: 35px !important;
  letter-spacing: 1px;
  // background-color: $eerie-black;
  // height: 40px;
  // padding-top: 10px;
  padding-left: 50px;
  font-size: 13px;
  text-transform: capitalize !important;
  // padding-bottom: 20px;
  font-weight: $normal;
  // z-index: -1;
  & ul {
    display: flex;
    // float: $menu-position;
    // text-transform: uppercase;
    // font-weight: 500;

    & li {
      background-color: $maize-crayola;
      /* extends the menu under the page */
      padding-bottom: 5px;
      padding-top: 5px;
      padding-right: 7px;
      padding-left: 7px;

      list-style-type: none;
      margin-right: 20px;
      border-radius: 4px;

      & a {
        transition: all 0.3s;
        color: $menu-font-color;
        text-decoration: none;

        &:hover {
          transition: all 0s;
          color: $menu-font-color-hover;
          // border-bottom: 3px solid $menu-underline;
        }
      }
    }
  }
}

// flip
.flip-card {
  background-color: transparent;
  // width: 300px;
  // height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  align-items: center;
  // position: relative;
  width: 100%;
  // height: 100%;
  // text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project___summary__container {
  padding: 40px;
  border: $pages-border2;
  margin: 20px;
}

.project__section__titles {
}

// card front
// card back

.projects__summary,
.project {
  // margin-top: 120px;
  // margin-top: 40px;
  // position: relative !important;
  position: absolute;
  width: 100%;
  // padding: 0px;
  // height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.projects__summary {
  // position: absolute;
}

/* Style the back side */
.project {
  // width: 100%;
  // position: absolute;
  // margin-top: 40px;
  transform: rotateY(180deg);
}
// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

// just rotation
.flip__project {
  transform: rotateY(180deg);
}
// .flip__project_2 {
//   transform: rotateY(10deg);
// }

.projects__mobile___title__container {
  margin-bottom: 30px;
}
