// colors
$primary-color: #333533; // darkred
$secondary-color: #f5cb5c; // darkred
$black-color: #242423;

// menu
$menu-font-color: grey;
$menu-font-color-hover: #f5cb5c;
$menu-font-color-curr: red;

$menu-underline: $secondary-color;
$menu-background: $primary-color; // darkred
$menu-item: #cee0dc; // lavanda
$menu-item-hover: #afaab9; // silver metallic

// Backgrounds
$background-gradient-home: linear-gradient(
  48deg,
  rgba(232, 237, 223, 1) 0%,
  rgba(207, 219, 213, 1) 100%
);

// BTNS COLORS
$light-blue: rgb(142, 194, 242);
$light-blue-text: rgb(255, 255, 255);
$light-blue-hover: rgb(44, 100, 153);
$light-blue-text-norm: rgb(21, 65, 105);
$light-blue-text-hover: rgb(153, 200, 243);

$outline-light-blue: rgba(255, 255, 255, 0.4);
$outline-light-blue-text: rgb(42, 124, 199);

$yellow: rgba(255, 166, 43, 1);
$yellow-text: rgb(255, 255, 255);

// PAGES

$footer: rgb(37, 43, 66);
$footer-bottom: rgb(142, 194, 242);
