//IMPORTANT
.scrolled {
  position: fixed;
  top: 0;
  right: 0;
}
.menu {
  background-color: transparent;
  // position: absolute;
  // height: 45px;
  right: 0;
  z-index: 1;
  & ul {
    height: 20px;
    letter-spacing: 1px;
    height: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    float: $menu-position;
    text-transform: uppercase;
    font-weight: 500;

    & li {
      list-style-type: none;
      margin-right: 20px;

      & a {
        transition: all 0.3s;
        color: $menu-font-color;
        text-decoration: none;

        &:hover {
          transition: all 0s;
          color: $menu-font-color-hover;
        }
      }
    }
  }
}

.menu__current__item {
  color: $menu-font-color-hover !important;
  border-bottom: 3px solid $menu-font-color-hover;
  font-weight: 600;
}

.menu__current__item__navbar__projects {
  color: $menu-font-color-hover !important;
  border-bottom: 0;
  font-weight: 600;
}
