.menu {
  height: 20px;
  letter-spacing: 1px;
  & ul {
    display: flex;
    float: $menu-position;
    text-transform: uppercase;
    font-weight: 500;

    & li {
      list-style-type: none;
      margin-right: 20px;

      & a {
        transition: all 0.3s;
        color: $menu-font-color;
        text-decoration: none;

        &:hover {
          transition: all 0s;
          color: $menu-font-color-hover;
          // border-bottom: 3px solid $menu-underline;
        }
      }
    }
  }
}
.menu__current__item {
  color: $menu-font-color-hover !important;
  border-bottom: 3px solid $menu-font-color-hover;
  font-weight: 600;
}
