.modal {
  width: 90vw;
  //   height: 90vh;
  margin: 0 auto;

  overflow-y: scroll;
}
.modal__container {
  //   margin-left: 20px;
  //   margin-right: 20px;
  //   overflow-y: scroll;
}
.modal__svg__icon {
  width: 120px;
}
.modal__png__icon {
  width: 45px;
}
