@import "../variables/variables";
@import "../variables/colors";

:root {
  font-size: 62, 5%;
  font-family: $font-family-primary;
  background-color: $maize-crayola;

  /* to keep the scrolling ON */
  overflow-y: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  /* to keep the scrolling HIDDEN */
  overflow-y: hidden;
  margin: 0;
  height: 100%;
}
