@import "../variables/variables";
@import "../variables/colors";

:root {
  font-size: 62, 5%;
  font-family: $font-family-primary;
  // background-color: $background-gradient-home;
  background-color: $maize-crayola;
}

html {
  scroll-behavior: smooth;
}
