body {
  font-family: $font-family-primary;
  overflow-x: hidden;
}

li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-family: $font-section-title;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white !important;
}

h2 {
  font-size: 2.5rem;
  font-weight: $thin;
}

h3 {
  font-size: 2rem;
  font-weight: $thin;
}

h4 {
  font-size: 1.2rem;
  font-weight: $thin;
}

h5 {
  font-size: 1rem;
  font-weight: $thin;
}

h6 {
  font-size: 0.8rem;
  font-weight: $thin;
}

// TONES & WEIGHT
.text- {
  &white {
    color: white !important;
  }
  &grey {
    color: grey !important;
  }
  &black {
    color: black !important;
  }
  &normal {
    font-weight: $normal;
  }
  &bold {
    font-weight: $bold;
  }
  &thin {
    font-weight: $thin;
  }
}

// Portofolio custom
.section__title {
  text-decoration: underline;
  color: $section-title;
}

.section__subtitle {
  color: $section-subtitle;
  font-weight: $thin;
}
